  <!DOCTYPE html>
<html lang="en">
<head>
  <title>JobHub</title>
  <link rel="icon" type="image/x-icon" href="icons8-hub-gradient-16.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar-inverse {
        background-color:rgba(0,0,0,.5); /* Change to your desired color */
      }
    html {
        height: 100%;
      }
      body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        background: linear-gradient(#141e30, #243b55);
      }
</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/"><h4>JobHub</h4></a></li>
    <li><a href="/Fresher"><h4>Fresher</h4></a></li>
    <li><a href="/experienced"><h4>Experienced</h4></a></li>
  </ul>
  
</nav>



</body>
</html>


